@inherits UmbracoViewPage<IHeader>
@{
    var startPage = Umbraco.AssignedContentItem.AncestorOrSelf<StartPage>();
    var children = startPage.Children.Where(x => x.IsVisible());
}

<nav class="navbar navbar-expand-md bg-custom-green">
  <div class="container-fluid p-3">
        <a class="navbar-brand mx-3 font-weight-bold" href="@startPage.Url()">@startPage.Title</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ">
                <li class="nav-item mx-3">
                    <a class="nav-link font-weight-bold" aria-current="page" href="@startPage.Url()">Home</a>
                </li>
                @if(children != null && children.Any())
                {
                    foreach(var item in children)
                    {
                        <li class="nav-item mx-3">
                            <a class="nav-link font-weight-bold" href="@item.Url()">@item.Name</a>
                        </li>
                    }
                }    
            </ul>
        </div>
  </div>
</nav>
    <div class="container">
    <h1 class="display-2 text-center font-weight-bold">@Model.Title</h1>
    </div>
    
