@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.PressItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
	var newsPage = Umbraco.AssignedContentItem.AncestorOrSelf<PressReleases>();
	//var body = Model.Body.StripHtml();
	var body = new HtmlString(Model.Body);
}
<div class="py-3">
	<a href="@newsPage.Url()" class=" my-5  font-size-large">&larr;tillbaka</a>
</div>
<div>
	<p class="font-weight-bold">@Model.UpdateDate.ToString("D")</p>
	<p class="lead">@Model.LeadText</p>
	@*<div>@Model.Body</div>*@
	<div>@body</div>
</div>





